<h1>Main Page</h1>
<p>Find me in app/views/main/index.html.erb</p>

<%= form_tag({:controller => "restaurants", :action => "search"}, :method => "get") do %>
	<%= text_field_tag 'query' %>
	<%= text_field_tag 'location' %>
	<%= submit_tag 'Search' %>
<% end %>
