<div class="pop-up">
    <div class="note_top">
    </div>

<div class="grid-pad">
<div class="top">
 	  <div class="col-2-5">
    	 <div class="module">
        <div class="restaurant_name">
	<%= @restaurant.name %>
            </div>
        </div>
    	 </div>

  <div class="col-1-5">
     <div class="module">
     </div>
  </div>

  <div class="col-2-5">
    <div class="module">
	<div id="food_category">Hamburger</div>
    </div>
   
  </div>
</div>
	<div class="accordions">
		<span id="restaurant_info_header"></span>
		<div id="restaurant_info_contents">
			<%= @restaurant.city %>
		</div>
	</div>
	  <div class="accordions">
		<span id="food_category_header"></span>
	        <div id="food_category_contents">
	            <p>Mauris</p>
		    Hamburger, Fries, Sandwich
	        </div>
		</div>
	  </div>
   <% unless @section.nil? || @section.menu_items.nil? %>
	<% @section.menu_items.each do |item| %>
   <div class="col-1-2">

     <div class="module">
            <div class="contents">
		<img src="<%=item.get_image_url()%>">     	      	
            </div>
     </div>
   </div>
	<% end %>
   <% end %>


 </div>
</div>
