<h1><%= @restaurant.name %></h1>
<% restaurantMenu = @restaurant.menu %>
<% unless restaurantMenu.nil? %>
	<% restaurantMenu.menu_sections.each do |section| %>
		<h3><%= section.name %></h3>
		<% unless section.menu_items.nil? %>
			<% section.menu_items.each do |item| %>
				<%= link_to item.name, menu_item_path(item) %><BR/>
			<% end %>
		<% end %>
	<% end %>
<% end %>
