<div class="pop-up">
    <div class="note_top">
    </div>

<div class="grid-pad">
<div class="top">

 	  <div class="col-2-5">
    	 <div class="module">
        <div class="restaurant_name">
<h3><%= @restaurant.name %></h3>
            </div>
        </div>
    	 </div>
  	</div>

  <div class="col-1-5">
     <div class="module">
     </div>
  </div>

  <div class="col-2-5">
    <div class="module">

      <%= render "section_dropdown" %>
    </div>
   
  </div>


   <% unless @section.nil? || @section.menu_items.nil? %>
	<% @section.menu_items.each do |item| %>
   <div class="col-1-2">

     <div class="module">
            <div class="contents">
		<img src="<%=item.get_image_url()%>">     	      	
            </div>
     </div>
   </div>
	<% end %>
   <% end %>


 </div>
</div>
