.pop-up{
	width:600px;
	margin:0 auto;

}
.grid-pad {
	width:100%;
}

.module {
	
}
.note_top {
	background-image: url('note_top.png');
	background-repeat: no-repeat;
	z-index:100;
	height:50px;
	width:600px;
	background-size: 98%;
	position:relative;
	float:top;
}
.top {
	background-color:white;
	width:100%;
	height:100px;
}
.restaurant_name {
	text-align:center;
	line-height:100px;
	font-family: 'Quicksand', sans-serif;
	font-size:15px;
	width:220px;
	height:30px;
	font-weight:700;
}
#food_category {
	text-align:center;
	line-height:100px;
	font-family: 'Quicksand', sans-serif;
	font-size:15px;
	width:220px;
	height:30px;
	font-weight:700;
}
#food_category_contents,#restaurant_info_contents {
	background-color:black;
	color:white;
	overflow:hidden;
	width:100%;
}
#food_category_contents table {
	border-collapse: collapse;
	width:100%;
	border:0;
}
#food_category_contents td {
	height:50px;
	width:50%;
	border-right: 1px solid white;
	border-top: 1px solid white;
	text-align:center;
}
.col-2-5 {
	width:40%;
	float:left;
}
.col-1-5 {
	background-image: url('logo.jpg');
	background-position: center; 
	background-repeat: no-repeat;
	background-size:50%;
	width:20%;
	height:100px;
	float:left;
}
.col-1-2 {
	float:left;
	width:300px;
	height:300px;
	overflow:hidden;
}
.col-1-2 .module .contents img {
	width:300px;
	height:300px;
}
.testsection {
	background-color:blue;
}
.col-1-2 .module:hover {
	background-image: url('white.jpg');
	width: 300px;
  	height: 300px;
  	color: #FFFF66;
}
